<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

<proxies>
   <proxy>
      <id>np,-proxy</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.example.com</host>
      <port>8081</port>
      <username>admin</username>
      <password>admin123</password>
      <nonProxyHosts>146.148.44.62</nonProxyHosts>
    </proxy>
</proxies>

</settings>
